.mixin.out/
craftpresence/
llibrary/
logs/
saves/
crafttweaker.log
patchouli_data.json
config/craftpresence.properties
config/craftpresence.properties
config/InvTweaks.cfg
config/splash.properties
*.log
config/craftpresence.properties
config/splash.properties
config/craftpresence.properties
usercache.json
usernamecache.json
config/jei/worldSettings.cfg
config/InvTweaks.cfg
config/ichunutil.cfg
config/craftpresence.properties
crash-reports/
config/jei/worldSettings.cfg
config/Guide-API/Guide-API.cfg
config/ebwizardry/ebwizardry.cfg
config/craftpresence.properties
