.mixin.out/
craftpresence/
MODPACK/llibrary/
MODPACK/logs/
MODPACK/saves/*
!MODPACK/saves/Workshop/
MODPACK/crafttweaker.log
MODPACK/patchouli_data.json
MODPACK/config/craftpresence.properties
MODPACK/config/craftpresence.properties
MODPACK/config/InvTweaks.cfg
MODPACK/config/splash.properties
*.log
MODPACK/config/craftpresence.properties
MODPACK/config/splash.properties
MODPACK/config/craftpresence.properties
MODPACK/usercache.json
MODPACK/usernamecache.json
MODPACK/config/jei/worldSettings.cfg
MODPACK/config/InvTweaks.cfg
MODPACK/config/ichunutil.cfg
MODPACK/config/craftpresence.properties
MODPACK/crash-reports/
MODPACK/config/jei/worldSettings.cfg
MODPACK/config/Guide-API/Guide-API.cfg
MODPACK/config/ebwizardry/ebwizardry.cfg
MODPACK/config/craftpresence.properties
MODPACK/config/craftpresence.properties
MODPACK/config/ichunutil.cfg
MODPACK/config/InvTweaks.cfg
MODPACK/config/jei/worldSettings.cfg
MODPACK/config/splash.properties
RESOURCE_PACK/.mixin.out
RESOURCE_PACK/crash-reports
RESOURCE_PACK/logs
RESOURCE_PACK/saves/*
!RESOURCE_PACK/saves/Blocks to make
RESOURCE_PACK/dropt.log
RESOURCE_PACK/options.txt
RESOURCE_PACK/optionsof.txt
RESOURCE_PACK/optionsshader.txt
RESOURCE_PACK/server.dat
RESOURCE_PACK/usercache.json
RESOURCE_PACK/usernamecache.json
